<!DOCTYPE html>
<html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<head>
  <title>Bubble Tea Devotees</title>
  <%= favicon_link_tag asset_path('favicon.ico') %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= tag.link(href: asset_path('application.css'), rel: 'stylesheet', media: 'all', preload: true) %>
  <%= csrf_meta_tags %>
  <script src="https://kit.fontawesome.com/9191ab314f.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka&family=Quicksand&display=swap" rel="stylesheet">

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

</head>
<body>

  <nav class="top-bar">
    <h1 class="header-text">
      <%= image_tag("android-chrome-192x192.png", :class => "bubble-tea-icon", :alt => "bubble tea") %>
      <a class="header-link" href="/">Bubble Tea Devotees</a>
    </h1>

    <section class="top-bar-section">
      <%- if current_user -%>
        <%- if current_user.role == "admin" -%>
          <button type="button" class="button">
            <%= link_to 'Add New Shop', shops_new_path %></li>
          </button>
        <%- end -%>
        <button type="button" class="button">
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        </button>
      <%- else -%>
        <button type="button" class="button">
          <%= link_to 'Sign Up', new_user_registration_path %></li>
        </button>
        <button type="button" class="button">
          <%= link_to 'Sign In', new_user_session_path %></li>
        </button>
      <%- end -%>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= yield :extra_footer %>
</body>

<footer>
  <div class="up-arrow cell">
    <a href="#top"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>
    </div>
    <div class="row author-info">
      <div class="columns">
        <h4>Meet the Devo-Teas</h4>
        <ul class="menu simple tag-section icons icon-left">
          <li><a class="footer-link" target="_blank" href="https://github.com/OoL33/bubble-tea-devoteas"><i class="fa-brands fa-github"></i> <span>GitHub</span></a></li>
          <li><a class="footer-link" target="_blank" href="https://www.linkedin.com/in/alanaolee/"><i class="fa-brands fa-linkedin"></i><span>Alana Lee</span></a></li>
          <li><a class="footer-link" target="_blank" href="https://www.linkedin.com/in/kathleencfoley/"><i class="fa-brands fa-linkedin"></i><span>Kathleen Foley</span></a></li>
          <li><a class="footer-link" target="_blank" href="https://www.linkedin.com/in/kwong402/"><i class="fa-brands fa-linkedin"></i><span>Karen Wong</span></a></li>
          <li><a class="footer-link" target="_blank" href="https://www.linkedin.com/in/taylorkingstonle/"><i class="fa-brands fa-linkedin"></i><span>Taylor Le</span></a></li>
        </ul>
      </div>
    </div>
</footer>
</html>